body {
  background: linear-gradient(0deg, #face8d 50%, aquamarine 100%);
}

.addForm {
  background-color: rgba(237, 110, 110, 0.5);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.suppForm {
  background-color: rgba(237, 110, 110, 0.5);
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}
